body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  display: block;
  width: 100px;
}

li {
	list-style: none;
}

li li {
	display: inline-block;
	margin: 0 10px;
}

.star {
	height: 10px; 
}